{% extends 'main_site/base.html' %}
{% load static %}



{% block content %}


  <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'main_site/images/bg_7.jpg' %}');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 pt-5 text-center">
          <p class="breadcrumbs"><span class="me-2"><a href="index-2.html">Home <i
                  class="fa fa-chevron-right"></i></a></span> <span class="me-2"><a href="blog.html">BUsiness Units <i
                  class="fa fa-chevron-right"></i></a></span> <span>Wellness<i
                class="fa fa-chevron-right"></i></span></p>
          <h1 class="mb-0 bread">Wellness</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 blog-single">
          <h2 class="mb-3">How Much Do Eat Your Really Need Day?</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius mollitia suscipit, quisquam
            doloremque distinctio perferendis et doloribus unde architecto optio laboriosam porro adipisci sapiente
            officiis nemo accusamus ad praesentium? Esse minima nisi et. Dolore perferendis, enim praesentium omnis,
            iste doloremque quia officia optio deserunt molestiae voluptates soluta architecto tempora.</p>
          <p>
            <img src="images/bg_1.jpg" alt class="img-fluid">
          </p>
          <p>Molestiae cupiditate inventore animi, maxime sapiente optio, illo est nemo veritatis repellat sunt
            doloribus nesciunt! Minima laborum magni reiciendis qui voluptate quisquam voluptatem soluta illo eum ullam
            incidunt rem assumenda eveniet eaque sequi deleniti tenetur dolore amet fugit perspiciatis ipsa, odit.
            Nesciunt dolor minima esse vero ut ea, repudiandae suscipit!</p>
          <h2 class="mb-3 mt-5">#2. Creative WordPress Themes</h2>
          <p>Temporibus ad error suscipit exercitationem hic molestiae totam obcaecati rerum, eius aut, in.
            Exercitationem atque quidem tempora maiores ex architecto voluptatum aut officia doloremque. Error dolore
            voluptas, omnis molestias odio dignissimos culpa ex earum nisi consequatur quos odit quasi repellat qui
            officiis reiciendis incidunt hic non? Debitis commodi aut, adipisci.</p>
          <p>
            <img src="images/image_3.jpg" alt class="img-fluid">
          </p>
          <p>Quisquam esse aliquam fuga distinctio, quidem delectus veritatis reiciendis. Nihil explicabo quod, est eos
            ipsum. Unde aut non tenetur tempore, nisi culpa voluptate maiores officiis quis vel ab consectetur suscipit
            veritatis nulla quos quia aspernatur perferendis, libero sint. Error, velit, porro. Deserunt minus,
            quibusdam iste enim veniam, modi rem maiores.</p>
          <div class="tag-widget post-tag-container mb-5 mt-5">
            <div class="tagcloud">
              <a href="#" class="tag-cloud-link">health</a>
              <a href="#" class="tag-cloud-link">wealth</a>
              <a href="#" class="tag-cloud-link">relax</a>
              <a href="#" class="tag-cloud-link">fresh</a>
            </div>
          </div>
          <div class="about-author d-flex p-4 bg-light rounded">
            <div class="bio me-md-4 img" style="background-image: url(images/person_1.jpg);"></div>
            <div class="desc">
              <h3>Louie Henderson</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus
                voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique,
                inventore eos fugit cupiditate numquam!</p>
            </div>
          </div>
         
        </div>
        <div class="col-lg-4 sidebar pl-md-4">
          <div class="sidebar-box bg-light rounded">
            <form action="#" class="search-form">
              <div class="form-group">
                <span class="icon fa fa-search"></span>
                <input type="text" class="form-control" placeholder="Search...">
              </div>
            </form>
          </div>
          <div class="sidebar-box">
            <h3>Services</h3>
            <ul class="categories me-md-4">
              <li><a href="#"><span class="ion-ios-checkmark-circle"></span>Weight Loss Program</a></li>
              <li><a href="#"><span class="ion-ios-checkmark-circle"></span>Sports Nutritionists</a></li>
              <li><a href="#"><span class="ion-ios-checkmark-circle"></span>Personalized Nutrition</a></li>
              <li><a href="#"><span class="ion-ios-checkmark-circle"></span>Individual Coaching</a></li>
              <li><a href="#"><span class="ion-ios-checkmark-circle"></span>Child Nutrition</a></li>
              <li><a href="#"><span class="ion-ios-checkmark-circle"></span>Workout Routines</a></li>
            </ul>
          </div>
          <div class="sidebar-box">
            <h3>Recent Blog</h3>
            <div class="block-21 mb-4 d-flex">
              <a class="blog-img me-4" style="background-image: url(images/image_1.jpg);"></a>
              <div class="text">
                <h3 class="heading"><a href="#">How Much Do Eat Your Really Need Day?</a></h3>
                <div class="meta">
                  <div><a href="#"><span class="fa fa-calendar"></span> January 13, 2020</a></div>
                  <div><a href="#"><span class="fa fa-user"></span> Admin</a></div>
                  <div><a href="#"><span class="fa fa-comment"></span> 19</a></div>
                </div>
              </div>
            </div>
            <div class="block-21 mb-4 d-flex">
              <a class="blog-img me-4" style="background-image: url(images/image_2.jpg);"></a>
              <div class="text">
                <h3 class="heading"><a href="#">How Much Do Eat Your Really Need Day?</a></h3>
                <div class="meta">
                  <div><a href="#"><span class="fa fa-calendar"></span> January 13, 2020</a></div>
                  <div><a href="#"><span class="fa fa-user"></span> Admin</a></div>
                  <div><a href="#"><span class="fa fa-comment"></span> 19</a></div>
                </div>
              </div>
            </div>
            <div class="block-21 mb-4 d-flex">
              <a class="blog-img me-4" style="background-image: url(images/image_3.jpg);"></a>
              <div class="text">
                <h3 class="heading"><a href="#">How Much Do Eat Your Really Need Day?</a></h3>
                <div class="meta">
                  <div><a href="#"><span class="fa fa-calendar"></span> January 13, 2020</a></div>
                  <div><a href="#"><span class="fa fa-user"></span> Admin</a></div>
                  <div><a href="#"><span class="fa fa-comment"></span> 19</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="sidebar-box">
            <h3>Tag Cloud</h3>
            <div class="tagcloud">
              <a href="#" class="tag-cloud-link">health</a>
              <a href="#" class="tag-cloud-link">lifestyle</a>
              <a href="#" class="tag-cloud-link">food</a>
              <a href="#" class="tag-cloud-link">organic</a>
              <a href="#" class="tag-cloud-link">natural</a>
              <a href="#" class="tag-cloud-link">exercise</a>
              <a href="#" class="tag-cloud-link">good</a>
              <a href="#" class="tag-cloud-link">eat</a>
              <a href="#" class="tag-cloud-link">exercise</a>
            </div>
          </div>
          <div class="sidebar-box">
            <h3>Paragraph</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate
              quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos
              fugit cupiditate numquam!</p>
          </div>
        </div>
      </div>
    </div>
  </section>  
  {% endblock content %}