
{% extends 'main_site/base.html' %}
{% load static %}



{% block content %}




  <section class="hero-wrap" style="background-image: url('{% static 'main_site/images/landing.png' %}');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center">
        <div class="col-lg-6">
          <img style="  max-width: 150px; height: auto ;"class="img-fluid"src="{% static 'main_site/images/ag_logo.png' %}">
          <!-- <span class="subheading">Finding Balance In Food, Health and Wellness</span> -->
          <h2 style="color: white;" class="mb-9">Enhancing Lifestyle, Wellness & Spirituality</h2>
          <p><a href="#" class="btn btn-primary p-4 py-3">Contact us <span
                class="ion-ios-arrow-round-forward"></span></a> <a href="#" class="btn btn-white p-4 py-3">Learn More
              <span class="ion-ios-arrow-round-forward"></span></a></p>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-services">
    <div class="container services-wrap">
      <div class="row">
        <div class="col-md-12">
          <div class="row g-lg-1">
            <div class="col-md d-flex align-items-stretch">
              <a href="{% url 'offering' %}">
              <div class="services text-center">
                <div class="icon"><span class="flaticon-plan"></span></div>
                <div class="text">
                  <h2>Pranic Healing</h2>
                  <p>Far far away, behind the word mountains, far from the countries.</p>
                </div>
              </div>
              </a>
            </div>
            <div class="col-md d-flex align-items-stretch">
              <div class="services text-center">
                <div class="icon"><span class="flaticon-dumbbell"></span></div>
                <div class="text">
                  <h2>Meditation</h2>
                  <p>Far far away, behind the word mountains, far from the countries.</p>
                </div>
              </div>
            </div>
            <div class="col-md d-flex align-items-stretch">
              <div class="services text-center">
                <div class="icon"><span class="flaticon-team-support"></span></div>
                <div class="text">
                  <h2>Yoga</h2>
                  <p>Far far away, behind the word mountains, far from the countries.</p>
                </div>
              </div>
            </div>
            <div class="col-md d-flex align-items-stretch">
              <div class="services text-center">
                <div class="icon"><span class="flaticon-advice"></span></div>
                <div class="text">
                  <h2>Nutrition</h2>
                  <p>Far far away, behind the word mountains, far from the countries.</p>
                </div>
              </div>
            </div>
            <div class="col-md d-flex align-items-stretch">
              <div class="services text-center">
                <div class="icon"><span class="flaticon-guarantee"></span></div>
                <div class="text">
                  <h2>Tarot Readings</h2>
                  <p>Far far away, behind the word mountains, far from the countries.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-section ftco-about-section">
    <div class="container-xl">
      <div class="row g-xl-5">
        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100"
          data-aos-duration="1000">
          <div class="img w-100 section-counter" style="background-image: url({% static 'main_site/images/yo.jpg' %});">
            <div class="counter-wrap d-flex">
              <div class="icon"><span class="flaticon-diet"></span></div>
              <div class="text ps-3">
                <span class="number"><span class="countup">24</span></span>
                <span class="caption">Years of experienced</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 heading-section d-flex align-items-center" data-aos="fade-up" data-aos-delay="200"
          data-aos-duration="1000">
          <div class="mt-5 mt-md-0">
            <span class="subheading">About Us</span>
            <h3 class="mb-2">Agadyati Prana Helps In Redefining Healthy &
            Spiritual Living</h3>
            <!-- <h3 class="mb-4">If You Get A Better Nutrition, You Can Enjoy A Healthy Age</h3> -->
            <p class="mb-4">iving standards are one of the basic requirement of human establishments. Agadyati Prana fills the gap between common
            and high living standards, by imparting healthy and spiritual lifestyle to achieve these standards..</p>
            <h4>We Can Help You</h4>
            <div class="d-md-flex">
              <ul>
                <li><span class="ion-ios-checkmark-circle"></span>Low Energy</li>
                <li><span class="ion-ios-checkmark-circle"></span>Stress &amp; Anxiety</li>
                <li><span class="ion-ios-checkmark-circle"></span>Poor Eating Habits</li>
                <li><span class="ion-ios-checkmark-circle"></span>Digestive Problems</li>
              </ul>
              <ul>
                <li><span class="ion-ios-checkmark-circle"></span>Balance Body & Mind</li>
                <li><span class="ion-ios-checkmark-circle"></span>Advice</li>
                <li><span class="ion-ios-checkmark-circle"></span>Workout Routines</li>
                <li><span class="ion-ios-checkmark-circle"></span>Protein</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-section ftco-services-section ftco-no-pt">
    <div class="container-xl">
      <div class="row justify-content-center">
        <div class="col-md-8 heading-section text-center mb-5" data-aos="fade-up" data-aos-duration="1000">
          <span class="subheading"></span>
          <h2 class="mb-4">Programs/Events</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
          <div class="carousel-services">
            <div class="item">
              <div class="services">
                <div class="img" style="background-image: url({% static 'main_site/images/yo.jpg' %});"></div>
                <div class="text">
                  <h2>WellPro365</h2>
                  <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and
                    Consonantia, there live the blind.</p>
                  <p><a href="#" class="btn-custom">Learn More</a></p>
                </div>
              </div>
            </div>
            <!-- <div class="item">
              <div class="services">
                <div class="img" style="background-image: url({% static 'main_site/images/services-2.jpg' %});"></div>
                <div class="text">
                  <h2>Sports Nutritionists</h2>
                  <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and
                    Consonantia, there live the blind.</p>
                  <p><a href="#" class="btn-custom">Learn More</a></p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="services">
                <div class="img" style="background-image: url({% static 'main_site/images/services-3.jpg' %});"></div>
                <div class="text">
                  <h2>Personalized Nutrition</h2>
                  <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and
                    Consonantia, there live the blind.</p>
                  <p><a href="#" class="btn-custom">Learn More</a></p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="services">
                <div class="img" style="background-image: url({% static 'main_site/images/services-4.jpg' %});"></div>
                <div class="text">
                  <h2>Inidividual Coaching</h2>
                  <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and
                    Consonantia, there live the blind.</p>
                  <p><a href="#" class="btn-custom">Learn More</a></p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="services">
                <div class="img" style="background-image: url({% static 'main_site/images/services-5.jpg' %});"></div>
                <div class="text">
                  <h2>Child Nutrition</h2>
                  <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and
                    Consonantia, there live the blind.</p>
                  <p><a href="#" class="btn-custom">Learn More</a></p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="services">
                <div class="img" style="background-image: url({% static 'main_site/images/services-6.jpg' %});"></div>
                <div class="text">
                  <h2>Workout Routines</h2>
                  <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and
                    Consonantia, there live the blind.</p>
                  <p><a href="#" class="btn-custom">Learn More</a></p>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <section style="padding-top: 0px;"class="ftco-section ftco-about-section">
    <div class="container-xl">
      <div class="row g-xl-5">
        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
          <div class="img w-100 section-counter"
            style="background-image: url({% static 'main_site/images/maam.jpg' %});">
            <div class="counter-wrap d-flex">
              <div class="icon"><span class="flaticon-diet"></span></div>
              <div class="text ps-3">
                <span class="number"><span class="countup">10+</span></span>
                <span class="caption">Years of experienced</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 heading-section d-flex align-items-center" data-aos="fade-up" data-aos-delay="200"
          data-aos-duration="1000">
          <div class="mt-5 mt-md-0">
            <!-- <span class="subheading">About Us</span> -->
            <h3 class="mb-2">About Shradha</h3>
            <!-- <h3 class="mb-4">If You Get A Better Nutrition, You Can Enjoy A Healthy Age</h3> -->
            <p class="mb-4">iA new age life coach, an entrepreneur and a true guiding friend who is determined to achieve her mission of spreading
            positivity via manifesting energy and guidance for one to attain higher inner self.
            
            Shradha has a 10+ years of experience as a Pranic healer and Tarot reader, she has by now conducted 50,000+ successful
            sessions. Her patients who range from all aspects of life and age group see towards her as guiding light in all their
            life problems be it mental, physical and emotional.</h4>
            <div class="d-md-flex">
              <ul>
                <li><span class="ion-ios-checkmark-circle"></span>100,000
                Number of sessions</li>
                <li><span class="ion-ios-checkmark-circle"></span>10,000
                People Benefited</li>
                <li><span class="ion-ios-checkmark-circle"></span>5,000
                Continuous Improvements</li>
                <li><span class="ion-ios-checkmark-circle"></span>10,000
                Totally Healed</li>
              </ul>
              <!-- <ul>
                <li><span class="ion-ios-checkmark-circle"></span>Balance Body & Mind</li>
                <li><span class="ion-ios-checkmark-circle"></span>Advice</li>
                <li><span class="ion-ios-checkmark-circle"></span>Workout Routines</li>
                <li><span class="ion-ios-checkmark-circle"></span>Protein</li>
              </ul> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-intro img" style="background-image: url({% static 'main_site/images/paralax.jpg' %});">
    <div class="overlay"></div>
    <div class="container-xl">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-8">
          <div class="row" data-aos="fade-up" data-aos-duration="1000">
            <div class="col-md-8 d-flex align-items-center">
              <div>
                <span class="subheading">Finding Balance in Food, Health and Wellness</span>
                <h1 class="mb-md-0 mb-4">Change Is Inevitable, Be A Part Of This Change</h1>
              </div>
            </div>
            <div class="col-md-4 d-flex align-items-center">
              <p class="mb-0"><a href="{% url 'booking' %}" class="btn btn-primary py-md-4 py-3 px-md-5 px-4">Make An Appointment</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 heading-section text-center mb-5" data-aos="fade-up" data-aos-duration="1000">
          <span class="subheading">Procedure</span>
          <h2 class="mb-4">How It Works?</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100"
          data-aos-duration="1000">
          <div class="services-2">
            <div class="img" style="background-image: url({% static 'main_site/images/services-2.jpg' %});">
              <div class="num"><span>1</span></div>
            </div>
            <div class="text">
              <h2>Trusted Services</h2>
              <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
              </p>
              <p><a href="#" class="btn-custom">Learn More</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100"
          data-aos-duration="1000">
          <div class="services-2">
            <div class="img" style="background-image: url({% static 'main_site/images/flow-2.jpg' %});">
              <div class="num"><span>2</span></div>
            </div>
            <div class="text">
              <h2>Customized Sessions</h2>
              <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
              </p>
              <p><a href="#" class="btn-custom">Learn More</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100"
          data-aos-duration="1000">
          <div class="services-2">
            <div class="img" style="background-image: url({% static 'main_site/images/flow-3.jpg' %});">
              <div class="num"><span>3</span></div>
            </div>
            <div class="text">
              <h2>Daily Schedule</h2>
              <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
              </p>
              <p><a href="#" class="btn-custom">Learn More</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100"
          data-aos-duration="1000">
          <div class="services-2">
            <div class="img" style="background-image: url({% static 'main_site/images/services-1.jpg' %});">
              <div class="num"><span>4</span></div>
            </div>
            <div class="text">
              <h2>Result Oriented</h2>
              <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
              </p>
              <p><a href="#" class="btn-custom">Learn More</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="img vid-section" style="background-image: url({% static 'main_site/images/bg_5.jpg' %});">
    <div class="overlay"></div>
    <div class="container-xl">
      <div class="row justify-content-center">
        <div class="col-md-12 vid-height d-flex align-items-center justify-content-center text-center">
          <div class="video-wrap" data-aos="fade-up">
            <a href="https://vimeo.com/115041822"
              class="video-icon glightbox d-flex align-items-center justify-content-center mb-4">
              <span class="ion-ios-play"></span>
            </a>
            <span class="subheading">Finding Balance In Food, Health And Wellness</span>
            <h3>Start Your Body Changing With Healthy Nutrition</h3>
            <p><a href="#" class="btn btn-primary py-3 px-4">Get Started</a> <a href="#"
                class="btn btn-white py-3 px-4">Contact Us</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-section testimony-section">
    <div class="container-xl">
      <div class="row justify-content-center pb-4">
        <div class="col-md-7 text-center heading-section" data-aos="fade-up" data-aos-duration="1000">
          <span class="subheading">Testimonial</span>
          <h2 class="mb-3">Successful Stories</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-10" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
          <div class="carousel-testimony">
            <div class="item">
              <div class="testimony-wrap d-md-flex align-items-center">
                <div class="img" style="background-image: url({% static 'main_site/images/success-1.jpg' %});"></div>
                <div class="text">
                  <div class="d-flex align-items-center mb-4">
                    <div class="user-img" style="background-image: url({% static 'main_site/images/person_1.jpg' %})">
                      <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left">
                      </div>
                    </div>
                    <div class="ps-3 tx">
                      <p class="name">Nicole Scott</p>
                      <span class="position">Marketing Manager</span>
                    </div>
                  </div>
                  <p class="mb-4 msg">Far far away, behind the word mountains, far from the countries Vokalia and
                    Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of
                    the Semantics.</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap d-md-flex align-items-center">
                <div class="img" style="background-image: url({% static 'main_site/images/success-2.jpg' %});"></div>
                <div class="text">
                  <div class="d-flex align-items-center mb-4">
                    <div class="user-img" style="background-image: url({% static 'images/person_2.jpg' %})">
                      <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left">
                      </div>
                    </div>
                    <div class="ps-3 tx">
                      <p class="name">Nicole Scott</p>
                      <span class="position">Marketing Manager</span>
                    </div>
                  </div>
                  <p class="mb-4 msg">Far far away, behind the word mountains, far from the countries Vokalia and
                    Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of
                    the Semantics.</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap d-md-flex align-items-center">
                <div class="img" style="background-image: url(images/success-3.jpg);"></div>
                <div class="text">
                  <div class="d-flex align-items-center mb-4">
                    <div class="user-img" style="background-image: url(images/person_3.jpg)">
                      <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left">
                      </div>
                    </div>
                    <div class="ps-3 tx">
                      <p class="name">Nicole Scott</p>
                      <span class="position">Marketing Manager</span>
                    </div>
                  </div>
                  <p class="mb-4 msg">Far far away, behind the word mountains, far from the countries Vokalia and
                    Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of
                    the Semantics.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-section bg-light ftco-no-pt">
    <div class="container-xl">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 heading-section text-center" data-aos="fade-up" data-aos-duration="1000">
          <span class="subheading">Our Blog</span>
          <h2>Recent Blog</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 d-flex">
          <div class="blog-entry justify-content-end" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
            <a href="blog-single.html" class="block-20 img d-flex align-items-end"
              style="background-image: url('{% static 'main_site/images/image_1.jpg' %}');">
              <div class="meta-date mb-4 ms-4">
                <span>13</span>
                <small>Jan</small>
              </div>
            </a>
            <div class="text">
              <p class="meta"><span><i class="fa fa-user me-1"></i>Admin</span> <span><a href="#"><i
                      class="fa fa-comment me-1"></i> 3 Comments</a></span></p>
              <h3 class="heading mb-3"><a href="#">How Much Do Eat Your Really Need Day?</a></h3>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 d-flex">
          <div class="blog-entry justify-content-end" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
            <a href="blog-single.html" class="block-20 img d-flex align-items-end"
              style="background-image: url('{% static 'main_site/images/image_2.jpg' %}');">
              <div class="meta-date mb-4 ms-4">
                <span>13</span>
                <small>Jan</small>
              </div>
            </a>
            <div class="text">
              <p class="meta"><span><i class="fa fa-user me-1"></i>Admin</span> <span><a href="#"><i
                      class="fa fa-comment me-1"></i> 3 Comments</a></span></p>
              <h3 class="heading mb-3"><a href="#">How Much Do Eat Your Really Need Day?</a></h3>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 d-flex">
          <div class="blog-entry justify-content-end" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
            <a href="blog-single.html" class="block-20 img d-flex align-items-end"
              style="background-image: url('{% static 'main_site/images/image_3.jpg' %}');">
              <div class="meta-date mb-4 ms-4">
                <span>13</span>
                <small>Jan</small>
              </div>
            </a>
            <div class="text">
              <p class="meta"><span><i class="fa fa-user me-1"></i>Admin</span> <span><a href="#"><i
                      class="fa fa-comment me-1"></i> 3 Comments</a></span></p>
              <h3 class="heading mb-3"><a href="#">How Much Do Eat Your Really Need Day?</a></h3>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-appointment ftco-section img" style="background-image: url({% static 'main_site/images/bg_3.jpg' %});">
    <div class="overlay"></div>
    <div class="container-xl">
      <div class="row g-lg-5">
        <div class="col-md-6 d-flex align-items-center order-lg-last pl-lg-5">
          <div class="heading-section heading-section-white" data-aos="fade-up">
            <span class="subheading">Who We Are</span>
            <h2 class="mb-3">We Best Nutrition</h2>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a
              paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            <div class="row mt-md-5">
              <div class="col-lg-12">
                <div class="services-3 d-flex w-100">
                  <div class="icon d-flex align-items-center justify-content-center">
                    <span class="flaticon-plan"></span>
                  </div>
                  <div class="text ps-4">
                    <h2>Full Services</h2>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It
                      is a paradisematic country.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="services-3 d-flex w-100">
                  <div class="icon d-flex align-items-center justify-content-center">
                    <span class="flaticon-dairy-products"></span>
                  </div>
                  <div class="text ps-4">
                    <h2>Good Products</h2>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It
                      is a paradisematic country.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="services-3 d-flex w-100">
                  <div class="icon d-flex align-items-center justify-content-center">
                    <span class="flaticon-diet-1"></span>
                  </div>
                  <div class="text ps-4">
                    <h2>Natural &amp; Healthy Foods</h2>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It
                      is a paradisematic country.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-center">
          <form action="#" class="appointment" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
            <span class="subheading">Drop A Message</span>
            <h2 class="mb-4 appointment-head"></h2>
            <div class="row">
              <div class="col-md-12 col-lg-6">
                <div class="form-group">
                  <label for="name">Your Full Name</label>
                  <input type="text" class="form-control" placeholder="Your Full Name">
                </div>
              </div>
              <div class="col-md-12 col-lg-6">
                <div class="form-group">
                  <label for="email">Email Address</label>
                  <input type="text" class="form-control" placeholder="Email">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="subject">Select Subject</label>
                  <div class="form-field">
                    <div class="select-wrap">
                      <div class="icon"><span class="fa fa-chevron-down"></span></div>
                      <select name id class="form-control">
                        <option value>Weight Loss Program</option>
                        <option value>Individual Coaching</option>
                        <option value>Workout Routines</option>
                        <option value>Sport Nutriotionists</option>
                        <option value>Child Nutrition</option>
                        <option value>Personal Nutrition</option>
                        <option value>Other</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="name">Message</label>
                  <textarea name id cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <input type="submit" value="Send message" class="btn btn-primary py-3 px-4 rounded">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  
  {% endblock content %}