
  <nav class="navbar navbar-expand-lg  ftco-navbar-light">
    <div class="container-xl">
      <a class="navbar-brand align-items-center" href="index-2.html">
        Agadyati<span> prana</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Blogs</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Spirituality</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'business_unit' %}">Wellness</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Lifestyle</a></li>
        </ul>
      </div>
    </div>
  </nav>